[Unit]
Description=Monitor Service
After=network.target
StartLimitIntervalSec=30
StartLimitBurst=3

[Service]
Type=simple
ExecStart=/opt/monitor/monitor
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
