Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  misc-*,
  -bugprone-easily-swappable-parameters
WarningsAsErrors: >
  bugprone-null-dereference,
  cert-err34-c,
  clang-analyzer-core.*
HeaderFilterRegex: 'include/.*\.h$'